@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "swiper/css";
@import "swiper/css/effect-coverflow";

@layer base {
  h1 {
    @apply text-5xl font-bold tracking-wide;
  }

  h2 {
    @apply text-3xl font-semibold;
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: rgba(255, 0, 80, 0.4);
  color: white;
}
