@import "tailwindcss";
@import "tw-animate-css";

@import "swiper/css";
@import "swiper/css/effect-coverflow";

@layer base {
  h1 {
    @apply text-5xl font-bold tracking-wide;
  }

  h2 {
    @apply text-3xl font-semibold;
  }
}

::selection {
  background: rgba(255, 0, 80, 0.4);
  color: white;
}

/* scrollbar gọn */
.srollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.srollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.srollbar-custom::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.srollbar-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
