.movie-card-wrap {
  position: relative;
  width: 240px;
  height: 340px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  pointer-events: auto;
  flex-shrink: 0;
  overflow: visible;
  transition: transform 0.25s ease;
}

.movie-card-wrap:hover {
  transform: scaleX(1.5);
  margin-top: 30px;
  margin-left: 20px;
  z-index: 50;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(186, 186, 186, 0.444);
}

.movie-card-wrap::before {
  content: "";
  position: absolute;
  inset: -40px;
}

.movie-card-bg {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 12px;
  opacity: 0;
  filter: brightness(0.6) contrast(1.15) saturate(0.85) hue-rotate(-10deg)
    blur(0.3px);
  background-image:
    /* dark shadow bottom */
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.6) 40%,
      transparent 100%
    ),
    /* teal cinematic overlay */
    linear-gradient(
        to right,
        rgba(0, 60, 80, 0.6) 0%,
        rgba(0, 40, 60, 0.4) 40%,
        transparent 70%
      ),
    url("http://www.transparenttextures.com/patterns/clean-gray-paper.png");
}

.movie-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 22px 30px 22px !important;
  display: flex;
  align-items: center;
  transform: translateY(20px);
}

.movie-card-poster {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(98, 98, 98, 0.4);
}

.movie-card-poster img {
  object-fit: cover;
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

.movie-card-info-content h2 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 2px 4px rgb(0, 0, 0);
  min-height: 40px;
}

.movie-card-info-content p {
  color: #d1d5db;
  font-size: 14px;
  margin: 6px 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0);
}
/* .movie-card-info-content * {
  margin-bottom: 15px !important;
} */

.movie-card-tags {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.movie-card-tags span {
  border: 1px solid yellow;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.829);
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(255, 234, 0);
}

.movie-card-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}

.movie-card-actions button {
  background: linear-gradient(90deg, #63eaff, #ff88e1);
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.movie-card-actions svg {
  color: white;
  cursor: pointer;
}

.movie-card-actions svg:hover {
  color: #f472b6;
}

.movie-card-wrap:hover .movie-card-bg {
  opacity: 1;
}

.movie-card-wrap:hover .movie-card-overlay {
  opacity: 1;
}

.movie-card-wrap:hover .movie-card-poster {
  width: 80px;
  height: 170px;
  margin-top: 0 !important;
  box-shadow: 0 8px 10px rgba(114, 114, 114, 0.723);
}

.movie-card-wrap:hover .movie-card-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-card-wrap:hover .movie-card-overlay .movie-card-info {
  opacity: 1;
  transform: scale(0.8);
}
.movie-card-wrap:hover .ten-phim {
  opacity: 0;
  height: 40px !important;
}

[data-slot="carousel-item"]:first-child .movie-card-wrap:hover {
  transform-origin: left;
}

[data-slot="carousel-item"]:last-child .movie-card-wrap:hover {
  transform-origin: right;
}
[data-slot="carousel"] {
  overflow: visible !important;
}

[data-slot="carousel-item"]:last-child {
  padding-right: 80px;
}
